# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE folders
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Node (if using frontend with React or similar)
node_modules/
frontend/build/
frontend/dist/

# ChromaDB or vector DB
chroma_db/

# Others
*.sqlite3
*.db
.gradle/

